*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    position: relative;
    display: block;
    margin: 0 auto;
}
svg{
    display: block;
    margin: auto;
}
#tableau_flow_1,
#tableau_flow_2,
#tableau_flow_3{
    stroke-dasharray: 0.5 4;
    stroke-dashoffset: 1000;
    animation: dash 40s linear infinite;
    animation-direction: reverse;
    stroke-linecap: round;
}
#s_s_flow_1,
#s_s_flow_2,
#s_s_flow_3,
#s_s_flow_4,
#s_s_flow_5{
    stroke-dasharray: 0.5 30;
    stroke-dashoffset: 1000;
    animation: dash 40s linear infinite;
    animation-direction: reverse;
    stroke-linecap: round;
}
#dv_flow1,
#dv_flow2,
#dv_flow4,
#dl_flow1,
#bv_flow1{
    stroke-dasharray: 0.5 20;
    stroke-dashoffset: 1000;
    animation: dash 15s linear infinite;
    animation-direction: reverse;
    stroke-linecap: round;
}
#dv_flow3{
    stroke-dasharray: 0.5 4;
    stroke-dashoffset: 1000;
    animation: dash 30s linear infinite;
    animation-direction: alternate-reverse;
    stroke-linecap: round;
}
#snow_flow1{
    stroke-dasharray:  0.5 30;
    stroke-dashoffset: 1000;
    animation: dash 20s linear infinite;
    animation-direction: reverse;
    stroke-linecap: round;
}
#snow_flow2{
    stroke-dasharray:  0.5 30;
    stroke-dashoffset: 1000;
    animation: dash 20s linear infinite;
    stroke-linecap: round;
}
#snow_flow4,
#snow_flow3{
    stroke-dasharray:  0.5 20;
    stroke-dashoffset: 1000;
    animation: dash 30s linear infinite;
    animation-direction: reverse;
    stroke-linecap: round;
}
#Gears > #Group > #Vector_31,
#Gears > #Group_2 > #Vector_32,
#Gears > #Group_3 > #Vector_33,
#Gears > #Group_4 > #Vector_34,
#Gears > #Group_5 > #Vector_35{
    transform-origin: center;
    transform-box: fill-box;
    animation: spin 4s infinite linear; 
}

#landing_rows > *{
    animation: landing 2s linear infinite;
}
#landing_rows > #row_2{ animation-delay: 0.2s;}
#landing_rows > #row_3{ animation-delay: 0.4s;}
#landing_rows > #row_4{ animation-delay: 0.6s;}
#landing_rows > #row_5{ animation-delay: 0.8s;}
#landing_rows > #row_6{ animation-delay: 1.0s;}
#landing_rows > #row_7{ animation-delay: 1.2s;}
#landing_rows > #row_8{ animation-delay: 1.4s;}
#view > *{
    animation: landing 2s linear infinite;
}
#view > #row_2_2{ animation-delay: 0.2s;}
#view > #row_3_2{ animation-delay: 0.4s;}
#view > #row_4_2{ animation-delay: 0.6s;}

#view_2 > *{
    animation: landing 2s linear infinite;
}
#view_2  > #row_2_3{ animation-delay: 0.2s;}
#view_2  > #row_3_3{ animation-delay: 0.4s;}
#view_2  > #row_4_3{ animation-delay: 0.6s;}

#view_3 > *{
    animation: landing 2s linear infinite;
}
#view_3  > #row_2_4{ animation-delay: 0.2s;}
#view_3  > #row_3_4{ animation-delay: 0.4s;}
#view_3  > #row_4_4{ animation-delay: 0.6s;}

@keyframes dash {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 1000;
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes landing {
    0%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    50%, 100%{
        opacity: 1;
    }
}





#dl_stage_tbl2,
#dl_stage_tbl3{
    animation: dl_tbl 6s infinite; 
}
#dl_stage_tbl3{ animation-delay: 0.6s; }

#dv_stage_tbl1,
#dv_stage_tbl4{
    animation: dv_tbl 6s infinite;
}
#dv_stage_tbl4{ animation-delay: 0.6s; }

#bv_stage_tbl2,
#bv_stage_tbl4{
    animation: bv_tbl 6s infinite;
}
#bv_stage_tbl4{ animation-delay: 0.6s;}
#bv_dfs_tbl1,
#bv_dfs_tbl2,
#bv_dfs_tbl3,
#bv_dfs_tbl4{
    animation: bv_tbl 6s infinite;
}
#bv_dfs_tbl2 {animation-delay: 0.6s;}
#bv_dfs_tbl3 {animation-delay: 1.2s;}
#bv_dfs_tbl4 {animation-delay: 1.5s;}

@keyframes dl_tbl {
    0%{
        fill: white;
    }
    20%{
        fill: #00A1C9;
    }
    100%{
        fill: white;
    }

}
@keyframes dv_tbl {
    0%{
        fill: white;
    }
    20%{
        fill: #C51517;
    }
    100%{
        fill: white;
    }

}
@keyframes bv_tbl {
    0%{
        fill: white;
    }
    20%{
        fill: #678AF0;
    }
    100%{
        fill: white;
    }

}

