#dashboard_line{
   animation: das 7s linear infinite; 
}
#dashboard_graph_5,
#dashboard_person_3{
    animation: prac 13s ease infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
#dashboard_graph_4{
    animation: prac 12s ease infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
#dashboard_pie_long,
#dashboard_pie_short{
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: pie 3s linear infinite; 
    animation-direction: alternate-reverse;
}
#person_suit{
    animation: suit 3s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
}
#person_left_arm
{
    animation: arm 2s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
}
#person_hair{
    animation: head 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#person_shoe{
    animation: arm 0.5s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes suit {
from{
transform: rotateZ(0deg);
}
to{
    transform: rotateZ(-2deg);
}
}
@keyframes arm{
from{
transform: rotate(0deg);
}
to{
    transform: rotate(10deg);
}
}
@keyframes head {
from{
transform: rotateX(0deg);
}
to{
transform: rotateX(-5deg);
}
}




@keyframes das {
     0%{
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: 0;
      }
      100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
      }
 
  }
  @keyframes pie {
    from{
        stroke-dashoffset: 0;
    }
    to{
        stroke-dashoffset: 150;
    }
    }
@keyframes prac {
    
      0%{
        transform: scaleY(0.4);

      }
      10%{
        transform: scaleY(1)
      }
      100%{
        transform: scaleY(0.4);
      }
     
    }
  